.wrapper {
    margin: 0 auto;
    padding: 1rem;
    max-width: 1200px;

    display: flex;
    flex-direction: column;
    min-height: 100vh;

    background-color: lightgrey;

}

.content {
    flex-grow: 1;
}